@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama?styles=170364,627");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  background: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
:root {
  --btn-color: rgb(230, 83, 60);
  --heding-color: rgb(255, 255, 255);
  --p-text: rgba(255, 255, 255, 0.5);
}
/* bacgraund-img */
.bg-fitt {
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  background-image: linear-gradient(rgb(17, 17, 17), rgba(119, 119, 119, 0));
}
nav {
  padding: 23px 0px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: var(--btn-color);
  font-size: 39px;
  font-weight: 900;
  font-style: italic;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  border: 0.5px solid rgba(128, 128, 128, 0.336);
}
nav ul li:first-child {
  background-color: var(--btn-color);
  border-radius: 9px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 2px 5px;
}
.icon {
  color: white;
  display: none;
}
/* bennar section */
.bennar {
  width: 92%;
  height: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.bennar-1 {
  width: 55%;
}
.bennar-1 h1 {
  color: var(--heding-color);
  font-size: 59px;
  font-weight: 900;
  padding: 20px 0px;
  letter-spacing: -1px;
  word-spacing: -1px;
  line-height: 64px;
}
.bennar-1 h1 span {
  font-family: "Miama", sans-serif;
  font-size: 100px;
}
.bennar-1 p {
  color: var(--p-text);
  font-size: 15px;
  padding: 3px 20px 18px 0px;
}
.bennar-1 button {
  color: var(--heding-color);
  font-size: 17px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  letter-spacing: -0.5px;
  word-spacing: -0.5px;
  width: 180px;
  padding: 7px 10px;
}
.bennar-1 .btn-1 {
  margin-right: 20px;
}
.btn-div {
  text-align: left;
}
.bennar-1 .btn-1 {
  background-color: var(--btn-color);
  border-radius: 37px;
  padding: 10px;
}
.bennar-1 .btn-2 {
  margin-right: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 37px;
  padding: 10px;
}
.bennar-2 {
  width: 45%;
  height: 100%;
  position: relative;
}
.bennar-2 img {
  /* height: 300px; */
  height: 100%;
}
.blur-box1 {
  color: var(--heding-color);
  position: absolute;
  top: 120px;
  right: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(26px);
  background: rgba(255, 255, 255, 0.1);
}
.blur-box1 p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.65);
}
.blur-box2 {
  backdrop-filter: blur(26px);
  background: rgba(255, 255, 255, 0.1);
  color: var(--heding-color);
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  top: 324px;
  left: -70px;
  gap: 5px;
}
.red-box {
  border-radius: 13px;
  background: rgb(230, 83, 60);
  width: 26px;
  height: 26px;
}

.text-box p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
}
/* main section */
main {
  width: 100%;
}
.habbyt {
  width: 92%;
  margin: 30px auto;
}
.habbyt-heding {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}
.habbyt-heding h1 {
  color: var(--heding-color);
  padding: 7px;
  font-size: 40px;
}
.habbyt-heding p {
  color: var(--p-text);
}
.habbyt-card {
  margin: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 3px;
}
.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}
.card-1 h4 {
  color: var(--heding-color);
  padding: 7px;
}
.card-1 p {
  color: var(--p-text);
  font-size: 14px;
}
.card-1 .img img {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}
.card-1 .img {
  border-radius: 50%;
  height: 160px;
  width: 150px;
}
/* runs section */
.run-section {
  width: 92%;
  margin: 50px auto 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background: rgb(34, 34, 34);
  padding: 20px;
  height: auto;
}
.run-text {
  width: 400px;
  height: 300px;
}
.run-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.run-img img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: top right;
}

.run-text h1 {
  color: var(--heding-color);
  font-size: 45px;
  font-weight: 900;
  padding: 5px 20px 5px 0px;
}
.run-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  padding: 10px 5px 23px 0px;
}
.run-text button {
  background-color: var(--btn-color);
  padding: 8px 9px;
  border: none;
  width: 130px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 20px;
}
/* footer section */
footer {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
}
.main-footer {
  width: 92%;
  margin: 10px auto;
  border-bottom: 1px solid rgba(97, 96, 96, 0.37);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 25px 10px 40px 10px;
}

.main-footer h3 {
  color: var(--heding-color);
  font-size: 18px;
  padding: 5px 0px 12px 0px;
}

.main-footer p {
  color: var(--p-text);
}
.footer-section1 h1 {
  color: var(--btn-color);
  padding: 6px 2px 8px 0px;
  font-size: 40px;
  font-weight: 800;
  font-style: italic;
}

.tow-footer-section {
  display: flex;
  width: 40%;
  gap: 70px;
  justify-content: flex-end;
}
.tow-footer-section .footer-section2 p,
.footer-section3 p {
  font-size: 15px;
  padding: 5px 0px;
}

.footer-section1 {
  width: 50%;
}
.footer-section1 p {
  padding: 2px 0px 20px 0px;
  font-size: 14px;
}
footer small {
  color: var(--p-text);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
/* training section */
.training-dex {
  padding: 40px 30px 10px 0px;
  width: 92%;
  margin: 20px auto;
}
.training-dex h1 {
  color: var(--heding-color);
  font-size: 43px;
  font-weight: 800;
  padding: 9px 0px;
}
.training-dex p {
  color: var(--p-text);
  font-size: 15px;
  line-height: 17px;
}
/* training img section */
.training-img-section {
  width: 92%;
  margin: 40px auto;
  color: white;
}
.fast-3div {
  display: grid;
  grid-template-columns: 0.7fr 1.4fr 0.9fr;
}
.fast-3div div {
  height: 240px;
}
.training-img-1 {
  background-image: linear-gradient(
      rgba(90, 214, 245, 0.397),
      rgba(14, 112, 107, 0.438)
    ),
    url(./images/exercise1.jpg);
  display: flex;
  align-items: end;
  padding: 20px 10px;
}

.training-img-2 {
  background-image: linear-gradient(
      rgba(247, 97, 97, 0.514),
      rgba(247, 97, 97, 0.411)
    ),
    url(./images/exercise2.png);
  padding: 20px;
}
.training-img-3 {
  background-image: linear-gradient(
      rgba(43, 40, 40, 0.473),
      rgba(54, 52, 52, 0.473)
    ),
    url(./images/exercise3.png);
  display: flex;
  align-items: end;
  padding: 20px;
}
.training-img-4 {
  background-image: linear-gradient(
      rgba(26, 25, 25, 0.425),
      rgba(0, 0, 0, 0.37)
    ),
    url(./images/exercise4.png);
  display: flex;
  justify-content: end;
  padding: 20px;
}
.training-img-5 {
  background-image: linear-gradient(
      rgba(30, 185, 30, 0.308),
      rgba(33, 189, 33, 0.363)
    ),
    url(./images/exercise5.jpg);
  display: flex;
  align-items: end;
  padding: 20px;
}
.training-img-6 {
  background-image: linear-gradient(
      rgba(135, 171, 247, 0.205),
      rgba(92, 187, 241, 0.377)
    ),
    url(./images/exercise6.jpg);
  display: flex;
  align-items: end;
  padding: 20px;
}
.sec-3div {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
}
.sec-3div div {
  height: 240px;
}
/* bmi text scection */
.bmi-text {
  width: 60%;
  margin: 25px auto;
}
.bmi-text h1 {
  color: var(--heding-color);
  padding: 6px;
  font-weight: 800;
  font-size: 30px;
}
.bmi-text p {
  color: var(--p-text);
  padding: 6px 10px 4px 6px;
  font-size: 14px;
  line-height: 19px;
}
/* bmi-calculetion scetion */
.bmi-calculetion {
  width: 100%;
  background: rgb(34, 34, 34);
}
.bmi-box {
  color: white;
  display: flex;
  gap: 50px;
  width: 92%;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0px;
}
.bmi-tebil {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.bmi-tebil table {
  border-collapse: collapse;
}
.bmi-tebil h1 {
  font-weight: 800;
}
.bmi-tebil tr,
th,
td {
  border: 1px solid rgba(102, 95, 95, 0.747);
  text-align: left;
  padding: 10px;
  font-size: 16px;
  color: var(--p-text);
}
.bmi-tebil th,
h1 {
  color: var(--heding-color);
}
.bmi-tebil h1 {
  padding-bottom: 40px;
}
.bmicalculetor {
  height: 100%;
  width: 60%;
  padding: 0px 10px;
}
.bmicalculetor h1 {
  color: var(--heding-color);
  font-weight: 800;
}
.bmicalculetor p {
  color: var(--p-text);
  font-size: 15px;
}
.bmicalculetor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bmicalculetor form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: rgba(255, 255, 255, 0.6);
}
.inp-fast {
  max-width: 100%;
  display: flex;
  gap: 7px;
}
.inp-fast input {
  width: 50%;
}

.inp-sec {
  max-width: 100%;
  display: flex;
  gap: 7px;
}
.inp-sec input,
select {
  width: 50%;
}

form {
  padding: 20px 0px;
  width: 100%;
}
form .full-width {
  width: 100%;
}
form input,
select {
  padding: 12px 9px;
  border: none;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(128, 128, 128, 0.301);
}
/* vaiya ai css gula kaj kore na keno */

/* .bmicalculetor form select option{
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(128, 128, 128, 0.301);
} */
.bmicalculetor button {
  width: 130px;
  padding: 9px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 14px;
  color: white;
  font-weight: 700;
  margin-bottom: 50px;
}

/* Meet Our Team */
.meet-ourteam {
  width: 92%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.meet-text {
  width: 73%;
  text-align: center;
  height: auto;
}
.meet-text h1 {
  color: var(--heding-color);
  font-size: 35px;
  font-weight: 800;
  margin: 10px;
}
.meet-text p {
  color: var(--p-text);
  font-size: 15px;
  padding: 5px;
  line-height: 22px;
}
.meet-img {
  /* height: 200px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 9px;
  background: rgba(255, 255, 255, 0.1);
}
.trainar {
  height: 230px;
  border-radius: 10px;
}
.t-1 {
  background-image: url(./images/trainer1.png);
}
.t-2 {
  background-image: url(./images/trainer2.png);
}
.t-3 {
  background-image: url(./images/trainer3.png);
}
.t-4 {
  background-image: url(./images/trainer4.png);
}
.t-5 {
  background-image: url(./images/trainer5.png);
}
.t-6 {
  background-image: url(./images/trainer6.png);
}
.meet-img .trainar {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.meet-img .trainar h3 {
  color: var(--heding-color);
  font-weight: 800;
}
.meet-img .trainar p {
  color: var(--p-text);
}

/* small divai phone */
@media screen and (max-width: 576px) {
  .icon {
    display: block;
    font-size: 26px;
  }
  nav ul {
    display: none;
  }
  /* bennar */
  .bennar {
    flex-direction: column;
    height: auto;
  }
  .bennar-1 {
    width: 100%;
  }
  .bennar-1 button {
    font-size: 14px;
    padding: 4px 6px;
    width: 120px;
  }
  .bennar-2 {
    width: 100%;
  }
  .blur-box1 {
    font-size: 10px;
    right: -10px;
    top: 70px;
  }
  .blur-box2 {
    top: 270px;
    left: 10px;
  }
  .habbyt-card {
    flex-wrap: wrap;
  }
  .card-1 {
    width: 300px;
  }
  /* runsection */
  .run-section {
    flex-direction: column;
    gap: 20px;
  }
  .run-text {
    width: 90%;
    height: auto;
  }
  .run-text button {
    width: 90%;
    padding: 10px;
  }
  .run-img {
    width: 90%;
  }
  /* footer */
  .main-footer,
  .tow-footer-section {
    flex-direction: column;
  }
  .footer-section1,
  .footer-section2,
  .footer-section3 {
    width: 100%;
  }
  .training-img-3,
  .training-img-6 {
    display: none;
  }
  .fast-3div {
    grid-template-columns: 1fr 1fr;
  }
  .sec-3div {
    grid-template-columns: 0.9fr 1.1fr;
  }
  .bmi-box {
    flex-direction: column;
  }
  .bmi-tebil,
  .bmicalculetor {
    width: 100%;
  }
  .inp-fast {
    width: 100%;
  }
  .meet-text {
    width: 95%;
  }
  .meet-img {
    grid-template-columns: 1fr;
  }
  .meet-img .t-1,
  .meet-img .t-4 {
    display: none;
  }
}
